Services/LogService/LogServiceProxy/Service References/LogService/LogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3009/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceModels" />
  <xs:element name="WriteLogMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="addMessage" nillable="true" type="q1:LogAddMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="filter" nillable="true" type="q2:LogFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceModels" minOccurs="0" name="GetLogsResult" nillable="true" type="q3:ArrayOfLogGetMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>