Services/LogService/LogServiceProxy/Service References/LogService/LogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3009/LogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3009/LogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3009/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogService_WriteLogMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogMessage" />
  </wsdl:message>
  <wsdl:message name="ILogService_WriteLogMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_UpdateLogEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogEvents" />
  </wsdl:message>
  <wsdl:message name="ILogService_UpdateLogEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetLogEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogEvents" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetLogEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogService">
    <wsdl:operation name="WriteLogMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/WriteLogMessage" message="tns:ILogService_WriteLogMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/WriteLogMessageResponse" message="tns:ILogService_WriteLogMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/GetLogs" message="tns:ILogService_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/GetLogsResponse" message="tns:ILogService_GetLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/UpdateLogEvents" message="tns:ILogService_UpdateLogEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/UpdateLogEventsResponse" message="tns:ILogService_UpdateLogEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/GetLogEvents" message="tns:ILogService_GetLogEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/GetLogEventsResponse" message="tns:ILogService_GetLogEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogService" type="tns:ILogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLogMessage">
      <soap:operation soapAction="http://tempuri.org/ILogService/WriteLogMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <soap:operation soapAction="http://tempuri.org/ILogService/GetLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogEvents">
      <soap:operation soapAction="http://tempuri.org/ILogService/UpdateLogEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogEvents">
      <soap:operation soapAction="http://tempuri.org/ILogService/GetLogEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogService">
    <wsdl:port name="BasicHttpBinding_ILogService" binding="tns:BasicHttpBinding_ILogService">
      <soap:address location="http://localhost:3009/LogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>