Services/LogService/LogServiceProxy/Service References/LogService/LogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogAddMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventType" type="xs:int" />
      <xs:element minOccurs="0" name="LogPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogAddMessage" nillable="true" type="tns:LogAddMessage" />
  <xs:complexType name="LogFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Skip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogFilter" nillable="true" type="tns:LogFilter" />
  <xs:complexType name="ArrayOfLogGetMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogGetMessage" nillable="true" type="tns:LogGetMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogGetMessage" nillable="true" type="tns:ArrayOfLogGetMessage" />
  <xs:complexType name="LogGetMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogGetMessage" nillable="true" type="tns:LogGetMessage" />
</xs:schema>