Services/CoreService/CoreServiceProxy/Service References/UsersServiceProxy/UsersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceModels.RolesAndTasks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceModels.RolesAndTasks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskModel" nillable="true" type="tns:TaskModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskModel" nillable="true" type="tns:ArrayOfTaskModel" />
  <xs:complexType name="TaskModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskModel" nillable="true" type="tns:TaskModel" />
  <xs:complexType name="ArrayOfRoleModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleModel" nillable="true" type="tns:RoleModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleModel" nillable="true" type="tns:ArrayOfRoleModel" />
  <xs:complexType name="RoleModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleModel" nillable="true" type="tns:RoleModel" />
  <xs:complexType name="ArrayOfRoleTasksModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleTasksModel" nillable="true" type="tns:RoleTasksModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleTasksModel" nillable="true" type="tns:ArrayOfRoleTasksModel" />
  <xs:complexType name="RoleTasksModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:RoleModel" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTaskModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleTasksModel" nillable="true" type="tns:RoleTasksModel" />
</xs:schema>